<main>
  <div class="container">
    <div class="row no-gutters">
      <div class="col-xs-12">
        <div class="row content">
          <div class="col-12 d-none d-sm-block hero">
            <div class="title">
              <h1 translate>HOMEPAGE.HERO.TITLE</h1>  
            </div>
            <div class="subtitle">
              <p translate>HOMEPAGE.HERO.SUBTITLE</p>
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="left-widget">
              <h2 translate>HOMEPAGE.SEARCH_WIDGET.TITLE</h2>
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="right-widget">
              <h3 translate>HOMEPAGE.PROVIDERS_WIDGET.TITLE</h3>
              <div class="row logos-container">
                <div class="col-6 col-sm-3 logo-wrapper"><img class="img-fluid" src="/assets/img/rental-companies/hertz_logo_lrg.gif" alt="hertz"></div>
                <div class="col-6 col-sm-3 logo-wrapper"><img class="img-fluid" src="/assets/img/rental-companies/avis_logo_lrg.gif" alt="avis"></div>
                <div class="col-6 col-sm-3 logo-wrapper"><img class="img-fluid" src="/assets/img/rental-companies/europcar_logo_lrg.gif" alt="europcar"></div>
                <div class="col-6 col-sm-3 logo-wrapper"><img class="img-fluid" src="/assets/img/rental-companies/alamo_logo_lrg.gif" alt="alamo"></div>
                <div class="col-6 col-sm-3 logo-wrapper"><img class="img-fluid" src="/assets/img/rental-companies/budget_logo_lrg.gif" alt="budget"></div>
                <div class="col-6 col-sm-3 logo-wrapper"><img class="img-fluid" src="/assets/img/rental-companies/enterprise_logo_lrg.gif" alt="enterprise"></div>
                <div class="col-6 col-sm-3 logo-wrapper"><img class="img-fluid" src="/assets/img/rental-companies/dollar_logo_lrg.gif" alt="dollar"></div>
                <div class="col-6 col-sm-3 logo-wrapper"><img class="img-fluid" src="/assets/img/rental-companies/thrifty_logo_lrg.gif" alt="thrifty"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>