:host {
    display: block;
    padding: 10px 9px;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 400;
    &.valid {
        cursor: pointer;
        &:hover {
            background-color: #dff6ff;
        }
    }
    .result-item {
        .tag-col {
            min-width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 0.71em;
            text-align: center;
            font-weight: bold;
            span {
                display: block;
                width: 100%;
                background-color: rgb(7, 143, 218);
                border-radius: 3px;
                &.tag-A {
                    background-color: rgb(150, 20, 18);
                }
                &.tag-C {
                    background-color: rgb(10, 99, 176);
                }
                &.tag-D {
                    background-color: rgb(1, 124, 68);
                }
                &.tag-G {
                    background-color: rgb(102, 202, 35); // Random color
                }
                &.tag-W {
                    background-color: rgb(17, 109, 138);
                }
                &.tag-L {
                    background-color: rgb(189, 154, 104) // Random color
                }
                &.tag-P {
                    background-color:rgb(255, 154, 2);
                }
                &.tag-F {
                    background-color: rgb(241, 199, 76);
                }
                &.tag-Z {
                    background-color: rgb(151, 211, 191); // Random color
                }
                &.tag-S {
                    background-color: rgb(91, 91, 91);
                }
                &.tag-T {
                    background-color: rgb(91, 91, 91);
                }
            }
        }
        .text-col {
            display: flex;
            flex-direction: column;
            min-width: 0;
            padding-left: 10px;
            line-height: 1.2;
            span {
                display: block;
                font-size: 0.875em;
                white-space: nowrap; 
                overflow: hidden;
                text-overflow: ellipsis;
                + span {
                    font-size: 0.815em;
                    color: grey;
                }
            }
        }
    }
    .no-result-item {
        span {
            font-style: italic;
            font-size: 0.875em;
            color: grey;
        }
    }
}